.container {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  .inputRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    label {
      font-weight: 600;
      font-size: 120%;
    }
    input {
      height: 30px;
      width: 220px;
      padding: 5px;
      border: 1px;
      &:focus {
        outline: none;
      }
    }
  }
  button {
    padding: 5px 10px;
  }
}