.task {
  height: 200px;
  width: 200px;
  border: 1px solid #fff;
  background-color: #fff;
  color: #006266;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  p {
    text-align: center;
    font-size: 130%;
    font-weight: 800;
  }
  button {
    background-color: #006266;
    color: #fff;
    padding: 5px 10px;
  }
}